{% extends '::base.html.twig' %}

{% block body -%}
    <h1>typy</h1>


    {{ dump(entity) }}

    {{ entity.atrybut.wrapy }}


    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('typy') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('typy_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li><a href="{{ path('typy_delete', { 'id': entity.id }) }}">
            Edit
        </a></li>
</ul>
{% endblock %}
