{% extends "::base.html.twig" %}

{% block title %}glownaPlakatyBundle:panel:wszystkieZamowienia{% endblock %}

{% block body %}
    <h1>Wszystkie zamówienia</h1>
    <p>
        hierarchia <br/>
        klient->zamowienia->produkty->typy <br/>
        jeśli typ=płótno to atrybuty <br/>
        jeśli typ=koszulki to koszuki <br/>

    </p>



    <table border="1">

        <tr>
            <td>login</td>
            <td>miasto</td>
            <td>kodpocztowy</td>
            <td>nr telefonu</td>
            <td>nr zamowienia</td>
            <td>produkty</td>
            <td>kwota</td>
        </tr>
        {% for klienta in klienci %}
            {#{{ dump(klienta) }}#}
            <tr>
                <td>{{ klienta.login }}</td>
                <td>{{ klienta.adresy.miasto }}</td>
                <td>{{ klienta.adresy.kodpocztowy }}</td>
                <td>{{ klienta.adresy.nrTelefonu }}</td>

                {% set kwota=0 %}

                {% for zamowienie in klienta.zamowienia %}
                    {#<tr>#}
                    <td>{{ zamowienie }}</td>
                    <td>
                        <div>

                            {% for produkt in zamowienie.produkty %}




                                {% if "płótno"==produkt.Typu.nazwa %}

                                    <div style="background-color: #2f96b4">
                                        <img src="{{ asset(produkt.Zdjecia.getUploadMinaturkaDir ~ '/' ~ produkt.Zdjecia.nazwaObrazka  ) }}"

                                             width="70" height="70"/>
                                        {#cena netto   {{ produkt.Netto }}#}
                                        {#cena brutto {{ produkt.Brutto }}#}
                                        {% set  kwota=kwota+produkt.Brutto %}
                                        {{ produkt.Filtru }} <br/>
                                        {#{{ produkt.IdTypu }}#}

                                        {#{{ dump(produkt.IdTypu.atrybut) }} &#123;&#35;10 mniej zapytań&#35;&#125;#}
                                        {#{{ dump(produkt.IdTypu.atrybut.wrapy ) }}#}


                                        {{ produkt.Typu.atrybut.wrapy }}
                                        {{ produkt.Typu.atrybut.wymiar }}
                                        {{ produkt.Typu.atrybut.margines }}
                                        <br/>
                                    </div>
                                {% else %}

                                    {% if "koszulka"==produkt.Typu.nazwa %}
                                        <div style="background-color: #C4D79F">
                                            <img src="{{ asset(produkt.Zdjecia.getUploadMinaturkaDir ~ '/' ~ produkt.Zdjecia.nazwaObrazka  ) }}"

                                                 width="70" height="70"/>
                                            {#cena netto   {{ produkt.Netto }}#}
                                            {#cena brutto {{ produkt.Brutto }}#}
                                            {% set  kwota=kwota+produkt.Brutto %}
                                            {{ produkt.Filtru }} <br/>


                                            {#{{ dump(produkt.IdTypu.nazwa)}}#}
                                            {{ produkt.Typu.koszulki }}
                                            <br/>
                                        </div>
                                    {% else %}
                                        <div style="background-color: #E0F3AC">
                                            <img src="{{ asset(produkt.Zdjecia.getUploadMinaturkaDir ~ '/' ~ produkt.Zdjecia.nazwaObrazka  ) }}"

                                                 width="70" height="70"/>

                                            {% set  kwota=kwota+produkt.Brutto %}
                                            {{ produkt.Filtru }} <br/>


                                            {{ produkt.Typu.koszulki }}
                                            <br/>
                                            {{ produkt.Typu.nazwa }}
                                        </div>
                                    {% endif %}


                                {% endif %}
                            {% endfor %}
                        </div>
                    </td>
                    {#</tr>#}
                {% endfor %}


                <td>
                    {{ kwota }}

                </td>

            </tr>



            {#<tr>#}

            {#<td>{{ dump(klienta.klienci) }}</td>#}
            {#<td>{{ dump(klienta.produkty) }}</td>#}
            {#<td></td>#}
            {#<td></td>#}
            {#<td></td>#}
            {#<td></td>#}
            {#<td></td>#}
            {#</tr>#}


        {% endfor %}

    </table>
{% endblock %}
