{#{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    {{ '    <link rel="stylesheet" href="http://demo.sonata-project.org/assetic/sonata_front_css.css" type="text/css" media="all"  />
   ' }}
    <!-- Le styles -->
    <link href="{{ asset('bundles/jordillonchcrudgenerator/css/bootstrap.css') }}" rel="stylesheet">
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }


        .grayscale img
        {
            filter: grayscale(1);
            -webkit-filter: grayscale(1);
            -moz-filter: grayscale(1);
            -o-filter: grayscale(1);
            -ms-filter: grayscale(1);
        }

        .sepia img
        {
            filter: sepia(1);
            -webkit-filter: sepia(1);
            -moz-filter: sepia(1);
            -o-filter: sepia(1);
            -ms-filter: sepia(1);
        }







    </style>
    <link href="{{ asset('bundles/jordillonchcrudgenerator/css/bootstrap-responsive.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/jordillonchcrudgenerator/css/crud.css') }}" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ asset('bundles/jordillonchcrudgenerator/images/favicon.ico') }}">
</head>

<body>


<div class="container">
    {% block menu %}

    <div class="container-fluid">
        <div class="col-sm-3"><img src="http://img585.imageshack.us/img585/6691/logodesignwithsplatv2.jpg" alt=""
                                   width="200"
                                   height="200"/>
        </div>
        <div class="col-sm-8"></div>
        <div class="col-sm-1">
            <br/> <a href="{{ path('nowezam') }}">koszyk</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3" style="background-color:lavender;">

            {% render controller('ObrazkijakoProduktyBundle:menu:index') %}
        </div>
        <div class="col-sm-9" style="background-color:lavenderblush;">
            <div id="panel-body product-grid">

                {#<a href="{{ path('show_produkt',{'id':entity.id, 'typr':entity.IdTypu} ) }}"><img#}

                    {% block produkt %}
                    {% for entity in entities %}
                        <a href="{{ path('show_produkt',{'id':entity.id, 'typr':'canvas'} ) }}"><img
                                    src="{{ asset(entity.getUploadMinaturkaDir~'/' ~ entity.nazwaObrazka  ) }}" width="200"
                                    height="200"/></a>
                    {% endfor %}


                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
</div>

<script src="{{ asset('bundles/jordillonchcrudgenerator/js/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/jordillonchcrudgenerator/js/bootstrap.js') }}"></script>

{% block javascript %}{% endblock %}
</body>
</html>