{% extends 'ObrazkiwbazieBundle:ObrazkiwKategorii:show.html.twig' %}

{% block formularz -%}

    {{ form_start(form) }}

    {{ form_label(form.wrapy) }}
    {{ form_widget(form.wrapy) }}
    {{ form_errors(form.wrapy) }}

    <table id="loginTable" border="1" >

        <tr>
            <th></th>
            {% for m in form.margines.vars.choices %}
                <th> {{ m.label }}</th>
            {% endfor %}
        </tr>

        {% for w in form.wymiar.vars.choices %}
            <tr>
                <th>{{ w.label }}</th>

                {% for m in form.margines.vars.choices %}



                    {% if  m.value<8 or m.value>9  and w.value>30 or w.value<40  %}
                        <td onclick="myFunction(0,0,'nic')" bgcolor="#a52a2a">
                         NY
                        </td>
                    {% else %}
                    <td onclick="myFunction({{ m.value }},{{ w.value }},'{{ m.label }}' )">
                        {{  w.label ~' '~ m.label}}

                        {#{{ m.value ~' '~ w.value }}#}
                    </td>
                    {% endif %}
                {% endfor %}

            </tr>
        {% endfor %}
    </table>


    <div id="loginLink" onclick="toggleTable();"  class="btn-primary">pokarz tabele</div>
    {#<p id="demo"></p>#}
    <script>

        function toggleTable() {
            var lTable = document.getElementById("loginTable");
            lTable.style.display = (lTable.style.display == "table") ? "none" : "table";
        }



        function myFunction(z1, z2) {

            document.getElementById("obrazki_jakoproduktybundle_atrybuty_margines").value = z1;
            document.getElementById("obrazki_jakoproduktybundle_atrybuty_wymiar").value = z2;
            $("#obrazki_jakoproduktybundle_atrybuty_submit").show();

//            document.getElementById("demo").innerHTML = Mnazwa;

           $("#loginTable").hide(400);

            if(z1=="0"){
                $("#obrazki_jakoproduktybundle_atrybuty_submit").hide();
                $("#loginTable").show(400);
            }
        }
    </script>



{{ form_rest(form) }}


    {{ form_end(form) }}








{% endblock %}
