{% extends 'ObrazkiwbazieBundle:ObrazkiwKategorii:index.html.twig' %}

{% block produkt %}
    <div class="col-sm-6" style="background-color:lavenderblush;">
        {#<h2>{{ entity.NazwaObrazka }}</h2>#}




        <section class="orginalny">

            <img   src="{{ asset(entity.getUploadMinaturkaDir~'/' ~ entity.nazwaObrazka  ) }}"/>

        </section>


        <p><a href="{{ path('kategoirie') }}">powrot</a></p>


    </div>
    <div class="col-sm-3" style="background-color:lavenderblush;">
        {% block formularz %}
            <br/>
            <p>Jakiś opis jeśli chcesz ale taki sam dla wszystkich obrazków</p>



            {#{{ form(form) }}#}
          {#{{ dump(form) }}#}

            {{ form_start(form) }}

            {{ form_label(form.id_filtru) }}
            {{ form_widget(form.id_filtru, { 'attr': {'onchange': 'funkcja()'} }) }}



            {{ form_errors(form.id_filtru) }}


            {{ form_label(form.submit) }}
            {{ form_widget(form.submit) }}

            {{ form_end(form) }}

        {% endblock %}



        <p id="demo"></p>
    </div>

{#<canvas id="myCanvas" width="250" height="300" style="border:1px solid #d3d3d3;">#}

    <script>


        {#var canvas = document.getElementById('myCanvas');#}
        {#var context = canvas.getContext('2d');#}
        {#var imageObj = new Image();#}

        {#imageObj.onload = function() {#}
            {#context.drawImage(imageObj, 0,0);#}
        {#};#}
        {#imageObj.src='{{ asset(entity.getUploadMinaturkaDir~'/' ~ entity.nazwaObrazka  ) }}';#}




        window.onload=function() {



            document.getElementById("demo").innerHTML = 'orginalny';



        }



        function funkcja() {

            var e = document.getElementById("obrazki_pfbundle_produkt_id_filtru");
            var strUser = e.options[e.selectedIndex].text;


//            var y = document.getElementsByTagName("section").item(0).attributes.getNamedItem('orginalny');

//            if (x==undefined)
//           x = document.getElementsByClassName("sepia");

          var nazwaClasy=document.getElementById("demo").innerText;
            var x = document.getElementsByClassName(nazwaClasy);
            x[0].className = strUser;
            document.getElementById("demo").innerHTML = strUser;

        }



    </script>

{% endblock %}

