{% extends 'ObrazkiwbazieBundle:ObrazkiwKategorii:index.html.twig' %}

{% block produkt %}
    <div class="col-sm-6" style="background-color:lavenderblush;">
        {#<h2>{{ entity.NazwaObrazka }}</h2>#}

        <img src="{{ asset(entity.getUploadMinaturkaDir~'/' ~ entity.nazwaObrazka  ) }}"/>

        <p><a href="{{ path('kategoirie') }}">powrot</a></p>


    </div>
    <div class="col-sm-3" style="background-color:lavenderblush;">
        {% block formularz %}
            <br/>
            <p>Jakiś opis jeśli chcesz ale taki sam dla wszystkich obrazków</p>



            {#{{ form(form) }}#}
          {#{{ dump(form) }}#}

            {{ form_start(form) }}

            {{ form_label(form.id_filtru) }}
            {{ form_widget(form.id_filtru, { 'attr': {'onchange': 'funkcja()'} }) }}



            {{ form_errors(form.id_filtru) }}


            {{ form_label(form.submit) }}
            {{ form_widget(form.submit) }}

            {{ form_end(form) }}

        {% endblock %}

        

        <p id="demo"></p>
    </div>


    <script>
        function funkcja() {

            var e = document.getElementById("obrazki_pfbundle_produkt_id_filtru");
            var strUser = e.options[e.selectedIndex].text;
            document.getElementById("demo").innerHTML = strUser;

        }



    </script>

{% endblock %}

