{{ form_start(form) }}

<div>
    {{ form_row(form.submit) }}
    {{ form_label(form.submit) }}

    {% for produkt in form.produkty %}
        {% if (produkt.vars.checked==true) %}
            <div>
                {{ form_widget(produkt) }}
                {{ form_label(produkt) }}
                {{ form_errors(produkt) }}
            </div>
        {% endif  %}

    {% endfor %}


    {% do form.produkty.setRendered %}
</div>
{{ form_end(form) }}

{% for produkt in entity.Produkty %}

<img src="{{  asset(produkt.IdZdjecia.getUploadMinaturkaDir~'/' ~ produkt.IdZdjecia.nazwaObrazka  ) }}" width="70" height="70"/>
{{ produkt.Netto }}
{% endfor %}
