{% extends '::base.html.twig' %}

{% block body -%}
    <h1>klient</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ entity.login }}</td>
            </tr>
            <tr>
                <th>Haslo</th>
                <td>{{ entity.haslo }}</td>
            </tr>
        </tbody>
    </table>

    {#{{ dump(entity) }}#}

    {#{% for zamowienie in entity.zamowienia %}#}
        {#{{ dump(zamowienie)}}#}

        {#{% for produkt in zamowienie.produkty %}#}
            {#{{ dump(produkt)}}#}


        {#{% endfor %}#}

    {#{% endfor %}#}


    {% for zamowienie in entity.zamowienia %}
        {{ zamowienie }} <br/>

        {% for produkt in zamowienie.produkty %}
            zamowienie :   {{ produkt }},{{ produkt.IdZdjecia }} <br/>


            {#{% for zdjecie in Przed.id_zdjecia %}#}
               {#<b> zdjęcie :   {{ zdjecie }}</b>#}


            {#{% endfor %}#}

        {% endfor %}
    {% endfor %}

    {#{{ dump(produkt) }}#}
        <ul class="record_actions">
    <li>
        <a href="{{ path('klient') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('klient_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
