{% extends '::base.html.twig' %}

{% block body -%}
    <h1>klient</h1>
    <table class="record_properties">
        <tbody>
        {#<tr>#}
            {#<th>Id</th>#}
            {#<td>{{ entity.id }}</td>#}
        {#</tr>#}
        {#<tr>#}
            {#<th>Login</th>#}
            {#<td>{{ entity.login }}</td>#}
        {#</tr>#}
        {#<tr>#}
            {#<th>Haslo</th>#}
            {#<td>{{ entity.haslo }}</td>#}
        {#</tr>#}
        </tbody>
    </table>


    {% for zamowienie in entity.zamowienia %}
        {{ zamowienie }}
        <div>

            {% for produkt in zamowienie.produkty %}
                <img src="{{ asset(produkt.IdZdjecia.getUploadMinaturkaDir ~ '/' ~ produkt.IdZdjecia.nazwaObrazka  ) }}"

                     width="70" height="70"/>
             cena netto   {{ produkt.Netto }}
                cena brutto {{ produkt.Brutto }}

            {% endfor %}
        </div>
    {% endfor %}
    {#{{ dump(entity.Adresy )}}#}




    <table class="record_properties">
        <tbody>
        <tr>
            <th>Miasto</th>
            <td>{{ entity.Adresy.miasto }}</td>
        </tr>
        <tr>
            <th>Ulica</th>
            <td>{{ entity.Adresy.ulica }}</td>
        </tr>
        <tr>
            <th>Kodpocztowy</th>
            <td>{{ entity.Adresy.kodpocztowy }}</td>
        </tr>
        <tr>
            <th>Nrtelefonu</th>
            <td>{{ entity.Adresy.nrTelefonu }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.Adresy.email }}</td>
        </tr>
        </tbody>
    </table>



    <ul class="record_actions">
        <li>
            <a href="{{ path('klient') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('klient_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
