{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Produkt list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Netto</th>
                <th>Brutto</th>
                <th>Rabat</th>
                <th>Procvat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('produkt_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.netto }}</td>
                <td>{{ entity.brutto }}</td>
                <td>{{ entity.rabat }}</td>
                <td>{{ entity.procVat }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('produkt_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('produkt_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('produkt_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
