{% extends 'ObrazkiwbazieBundle:ObrazkiwKategorii:show.html.twig' %}

{% block produkt %}
    <h1>{{ entity.IdTypu.nazwa }}</h1>

    <table class="record_properties">
        <tbody>
            {#<tr>#}
                {#<th>Id</th>#}
                {#<td>{{ entity.id }}</td>#}
            {#</tr>#}
            <tr>
                <th>Netto</th>
                <td>{{ entity.netto }}</td>
            </tr>
            <tr>
                <th>Brutto</th>
                <td>{{ entity.brutto }}</td>
            </tr>
            <tr>
                <th>Rabat</th>
                <td>{{ entity.rabat }}</td>
            </tr>
            <tr>
                <th>Procvat</th>
                <td>{{ entity.procVat }}</td>
            </tr>
        </tbody>
    </table>

    {#{{ dump(entity)}}#}
    {#{{ entity.Przed }}#}

    {#{{ dump(obrazek) }} //nie wiem jakim cudem nazwa obrazka jest null ale pojkazuje dwa#}
{#{{ entity.IdZdjecia.nazwaObrazka }}#}
{{ entity.IdTypu.atrybut }}<br>

    {#{{ obrazek.nazwaObrazka }}#}
    {#{{ dump(typ) }}#}
    {#{{ dump(typ.atrybut) }}#}
    {#{{ dump(typ.atrybut.wrapy) }}#}
    {#{{ typ.atrybut }}#}


    <a href="{{ path('kategoirie') }}">
       kolejny produkt i powrót do strony głównej?
    </a>


    <img src="{{ asset(entity.IdZdjecia.getUploadMinaturkaDir~'/' ~ entity.IdZdjecia.nazwaObrazka  ) }}"/>
        <ul class="record_actions">
    {#<li>#}
        {#<a href="{{ path('produkt') }}">#}
            {#Back to the list#}
        {#</a>#}
    {#</li>#}
    {#<li>#}
        {#<a href="{{ path('produkt_edit', { 'id': entity.id }) }}">#}
            {#Edit#}
        {#</a>#}
    {#</li>#}

            <li><a href="{{ path('nowezam') }}">koszyk</a></li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
