{% extends '::base.html.twig' %}

{% block body -%}
    <h1>zamowienie</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Datazlozenia</th>
                <td>{{ entity.dataZlozenia|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Zaplacono</th>
                <td>{{ entity.zaplacono }}</td>
            </tr>
            <tr>
                <th>Datawysylki</th>
                <td>{{ entity.dataWysylki|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

   {% for produkt in entity.Produkty %}

        <img src="{{  asset(produkt.IdZdjecia.getUploadMinaturkaDir~'/' ~ produkt.IdZdjecia.nazwaObrazka  ) }}" width="70" height="70"/>
        {{ produkt.Netto }}
    {% endfor %}




        <ul class="record_actions">
    <li>
        <a href="{{ path('zamowienie') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('zamowienie_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
            <li><a href="{{ path('nowyklie',{'id':entity.id}) }}">dobra to teraz wprowadz adres</a></li>

</ul>
{% endblock %}
